* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 830px;
  max-height: 1472px;
  background-color: aqua;
}

.background {
  height: 520px;
  background: red;
  padding-top: 65px;
}

.top-header {
  height: 35px;
  background-image: linear-gradient(#606060, gray, #606060, gray);
  width: 72%;
  margin: auto;
  border-radius: 3px;
  display: flex;
}

.top-header div {
  width: 10.5%;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.top-header .search {
  width: 16%;
}

.top-header div:hover {
  background-image: radial-gradient(#606060 15%, #444444 70%);
}

.top-header span {
  line-height: 35px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 12px;
}

.top-header input {
  height: 22px;
  box-sizing: border-box;
  border-radius: 12px;
  width: 80%;
  margin-top: 7px;
  border: 1px solid #444444;
  background-image: none;
  outline: none;
  padding-left: 10px;
  background-image: linear-gradient(#606060, gray, #606060, gray);
}

.top-header .search:hover {
  background-image: linear-gradient(#606060, gray, #606060, gray);
}

.text {
  width: 70%;
  background: gray;
  margin: auto;
  padding-top: 30px;
}

.text img {
  width: 100%;
}

.text .medium {
  margin-top: 30px;
}

.bottom {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 1px;
}

.bottom img {
  width: 100%;
}

.grid-item {
  background-color: blue;
  height: 186px;
}

footer {
  height: 40px;
  background-color: coral;
  width: 71.5%;
  margin: auto;
  font-size: 10.5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #6e6e6e;
  padding-top: 25px;
}

.top-section {
  display: flex;
  background-color: cornflowerblue;
}

.footer-image {
  margin-top: -7px;
}

.left-section-footer {
  width: 98%;
}
